<div class="sidenav">
    <div class="logo">
        <a href="/" class="simple-text logo-mini">
            <div class="logo-img">
                <img src="./assets/images/angular2-logo-white.png" />
            </div>
        </a>
        <a href="/" class="simple-text logo-normal">
            BBBank
        </a>
    </div>
    <ul class="nav">
        <li class="active"><a routerLink="/"><i class="fas fa-chart-line"></i> Dashboard</a></li>

        <li><a routerLink="/manage-accounts"><i class="fas fa-random"></i> Manage Accounts </a></li>
        <li><a routerLink="/open-account"><i class="fas fa-money-check-alt"></i>Open Accounts</a></li>

    </ul>
</div>